<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HOA v${version}</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/site.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" data-th-fragment="header">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">HOA</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" placeholder="Email or Username" class="form-control">
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
					<button type="submit" class="btn btn-success">Register</button>
				</form>
			</div>	<!--/* .navbar-collapse */-->
		</div>
	</nav>


	<footer class="footer" data-th-fragment="footer">
		<div class="container">
			<p class="text-muted" style="margin-top: 8px;">HOA v[[${version}]]</p>
			<p class="text-muted">Copyright ©2016 Latency: Zero, LLC. All rights reserved.</p>
		</div>
	</footer>

	<script src="js/jquery-3.1.1.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
